<div>
  <form action="#">
    <label for="fname">First Name</label>
    <input
      class="form-control"
      type="text"
      id="fname"
      name="firstname"
      placeholder="Your name.."
    />

    <label for="lname">Last Name</label>
    <input 
      class="form-control" 
      type="text"
      id="lname"
      name="lastname"
      placeholder="Your last name.."
    />

    <label for="country">Country</label>
    <select class="form-select" id="country" name="country" aria-label="Preference">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>
</div>
