<div class="intro">
  <h3 class="foo">Primary Themes:</h3>

  <h4>There are Three primary themes:</h4>

  <ol>
    <li>
      <strong>Core</strong> styles (in <mark>core/</mark>) are
      common dependencies, which include support variables, native element and
      typography styles, buttons, navigation, tooltips, etc.
    </li>
    <li>
      <strong>Product</strong> styles (in <mark>product/</mark>) are specific to github.com, and include components such as avatars,
      labels, markdown styles, popovers, and progress indicators.
    </li>
    <li>
      <strong>Marketing</strong> styles (in <mark>marketing/</mark>) are specific to GitHub marketing efforts, including
      international and event-focused sites as well as the more design-heavy
      feature pages on github.com. Marketing styles include new colors and
      button styles, and extend the core typography and whitespace scales.
    </li>
  </ol>
</div>
